body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f6;
  color: #333;
}

img {
  width: 100%;
}

.title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
}

.upper-nav {
  height: 95px;
  background-color: #f72210;
  padding-bottom: 10px;
}

.upper-nav a > * {
  width: 396px;
  height: 60px;
  margin: 10px auto 0;
}

.navbar {
  background-color: #fff;
}

.navbar a {
  color: #333;
  border-right: 1px solid #ccc;
}

.actions > .btn-primary {
  border: none;
  border-radius: 20px;
  background-color: yellow;
  color: #000;
}

#search {
  outline: none;
  border: none;
}

.image1 {
  background-image: url(../images/trump.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card-image {
  width: 100%;
  height: 50vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card-image p {
  color: #fff;
  background-color: slateblue;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin-bottom: -1px;
  text-align: left;
}

.culture-and-travel > .card > .card-image,
.turn > .card > .card-image {
  height: 30vh;
}

.col-lg-3 > img {
  height: 200px;
}

.col-lg-6 > img {
  height: 250px;
}

.col-lg-3 > a,
.col-lg-6 > a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.col-lg-3 > a:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.category {
  margin-top: 5px;
}

.category span {
  padding: 5px 10px;
  text-transform: uppercase;
}

.category span:nth-child(1) {
  background-color: #f72210;
  color: #fff;
}

.category span:nth-child(2) {
  background-color: #fff;
  color: #f72210;
}

.container-fluid {
  background-color: #fff;
}

.magazine,
.editors-pick {
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

section > h2 {
  color: #f72210;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.row-card {
  height: 80px;
}
